#about {
    background-color: #A02B95;
}

body,
html {
    height: 100%
}

body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Raleway", sans-serif;
}

body, html {
    height: 100%
}

.footer {
    background-color: #3cba54;
}

#main {
    background-image: url('https://wedding-pictures.onewed.com/match/images/91417/funny-geeky-wedding-invitations-computer-coding-theme-fuschia-12.full.jpg');
    height: 750px;
    background-position: center;
    background-size: cover;
}

#mySidebar {
    background-color: #4885ed;
}

.padding-64 {
    padding-top: 64px!important;
    padding-bottom: 32px!important;
}

.text_middle {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
}

#turtle {
    height: 56px;
    width: 100px;
    margin-bottom: 32px!important;
}

.w3-third img {
    margin-bottom: -6px;
    opacity: 0.8;
    cursor: pointer
}

.w3-third img:hover {
    opacity: 1
}